/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.ref-info .form-table td a {
    text-decoration: none;
}

.ref-info .form-table td {
    width: 1%;
    white-space: nowrap;
}

.edit, .remove {
    cursor: pointer;
}